{% load static %}
<nav id="header" class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to right, #0A9D4C, #11ac3c)">
    <a class="navbar-brand" href="{% url 'Homepage:index' %}"><img width="220" src="{% static 'img/Brand.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Donate:donasi' %}">Donasi <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'daftardonasi:daftardonasi' %}">Daftar Donasi<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'News:news' %}">Berita <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a id="about" class="nav-link" href="{% url 'About:about' %}">Tentang Kami <span class="sr-only">(current)</span></a>
            </li>
            
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" onclick='signOut()'>Sign out <span class="sr-only">(current)</span></a>
                </li>
                
            {% else %}
                <li class="nav-item active" id="regisWrapper">
                    <a id="registrasi" class="nav-link" href="{% url 'Register:register' %}">Registrasi <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            
        </ul>
    </div>
</nav>

<meta charset="UTF-8">
<meta name="google-signin-client_id" content="706201221112-pm1bbjno6mqki3d8tu6pv1gi1aepmf1c.apps.googleusercontent.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-signin-scope" content="profile email">
<script src="https://apis.google.com/js/platform.js" ></script>
<script type="text/javascript">
    function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            $.ajax({
                method: "POST",
                type: "POST",
                url: "/Registerlogin",
                headers: {
                    "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                data: {
                    token: id_token
                },
                
                success: function(result) {
                    if (result['status'] == "0") {
                        approved(profile);
                        console.log(profile.getName());
                    } else {
                        console.log(result);
                        alert("G(et)T(he)F(un)O(ut), BEACH!!!");
                    }
                }
            })
        };

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
        window.location.href = "{% url 'Register:logout' %}"
    }


    function approved(profile) {
        var id = profile.getId();
        var name = profile.getName();
        var givenName = profile.getGivenName();
        var emailUrl = profile.getEmail();
        var avatar = profile.getImageUrl();

        var paramsToSend = {
            'id': id,
            'name': name,
            'givenName': givenName,
            'emailUrl': emailUrl,
            'avatar': avatar,
            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
        }

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "{% url 'Register:yourProfile' %}");

        for (var key in paramsToSend) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", paramsToSend[key]);
            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);

        form.submit()
    }
    $(document).ready(function() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    });
    
    

</script>