{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock title %}

{% block css %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <meta name="google-signin-client_id" content="706201221112-pm1bbjno6mqki3d8tu6pv1gi1aepmf1c.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/platform.js" ></script>
{% endblock css %}

{% block content %}
    <div class="container mx-auto d-block">
        <form class="form-block" action="{% url 'Register:submit-registration' %}" method="POST">
            <h3 style="color: #0A9D4C">Mari registrasi untuk donasi!</h3>
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if field.name == 'anonymous' %}
                        {{ field.as_widget }} <label>{{ field.label }}</label>
                        {% else %}
                        {{ field.as_widget }}
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn">Daftar</button>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            <!-- <div class="signout"><a onclick="signOut()">Sign out</a></div> -->
        </form>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            method: "POST",
            type: "POST",
            url: "/Registerlogin",
            headers: {
                "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            data: {
                token: id_token
            },
            
            success: function(result) {
                if (result['status'] == "0") {
                    approved(profile);
                    console.log(profile.getName());
                } else {
                    console.log(result);
                    alert("G(et)T(he)F(un)O(ut), BEACH!!!");
                }
            }
        })
    };

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
        window.location.href = "{% url 'Register:logout' %}"
    }


    function approved(profile) {
        var id = profile.getId();
        var name = profile.getName();
        var givenName = profile.getGivenName();
        var emailUrl = profile.getEmail();
        var avatar = profile.getImageUrl();

        var paramsToSend = {
            'id': id,
            'name': name,
            'givenName': givenName,
            'emailUrl': emailUrl,
            'avatar': avatar,
            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
        }

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "{% url 'Register:yourProfile' %}");

        for (var key in paramsToSend) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", paramsToSend[key]);
            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);

        form.submit()
    }
    
    $(document).ready(function() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    });
    </script>
    
{% endblock content %}
