{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
    Donasi
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/donate.css' %}">
{% endblock css %}
{% block js %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/donate.js' %}" type="text/javascript"></script>
{% endblock js %}

{% block content %}
    <div class="container mx-auto d-block">
        <form id='form-donation' class="form-block" action="#" method="POST">
            <h3 style="color: #0A9D4C">Halo, {{ name }}. Tinggal selangkah lagi untuk Donasi!</h3>
{#            {% if status == 'invalid' %}#}
{#            <div class="alert alert-danger" role="alert">#}
{#                Nama pengguna atau alamat email belum terdaftar!#}
{#            </div>#}
{#            {% elif status == 'valid'%}#}
{#                <div class="alert alert-success" role="alert">#}
{#                    Berhasil Donasi!#}
{#                </div>#}
{#            {% elif status == 'invalid amount' %}#}
{#                <div class="alert alert-danger" role="alert">#}
{#                    Jumlah uang yang didonasikan tidak valid!#}
{#                </div>#}
{#            {% endif %}#}
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if field.name == 'anonymous' %}
                        {{ field.as_widget }} <label>{{ field.label }}</label>
                        {% else %}
                        {{ field.as_widget }}
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn" disabled="true">Donasi</button>
        </form>
    </div>
{% endblock content %}
