{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
About
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock css %}

{% block js %}
    {{block.super}}
    <script src="{% static 'about.js' %}"></script> 
{% endblock js %}
    
{% block content %}
<div class="container">
    <h1>Apa itu Kitasabi?</h1>
    <h4>Kitasabi adalah platform untuk menggalang dana dan berdonasi secara online (crowdfunding) terpopuler di Fasilkom.</h4>
    <h3>Testimoni</h3>
    <div class="card-columns">
    {% for i in testimoni %}
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">{{i.nama}}</div>
        <div class="card-body">
            <p class="card-text"> {{i.testimoni}} </p>
        </div>
    </div>
    {% endfor %}
    <div id="new-testimoni"></div>
    </div>
    <div class="testimoni">
    {% if login == 'true' %}
    <form method="POST" action="create-testimoni" class="testimoniForm" >
        {% csrf_token %}
        {% for i in form %}
        <div class="form-group">
            {{ i }}
        </div>
        {% endfor %}
        <button type="submit" id="add-testimoni" class="btn btn-primary">Kirim testimoni</button>
    {% endif %}
    </form>
    </div>
    
</div>
{% endblock content %}