<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Kita Sabi -
        {% block title %}
        <!-- Tulis judul pagenya disini -->
        {% endblock title %}
    </title>
    {% include 'partials/source.html' %}
    {% block css %}
    <!-- import css di sini -->
    {% endblock css %}
    {% block js %}
        
    <!-- import js di sini, jangan lupa gunakan super.block ya-->
    {% endblock js%}
    
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>

    <content>
        <div class="container-fluid">
            {% block content %}
            <!-- Implement kontennya disini -->
            {% endblock content %}
        </div>
    </content>

    <footer class="footer">
        {% include 'partials/footer.html' %}
    </footer>
</body>
</html>