.card{
    margin-top: 50px;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
}
.pict{
    width: 100%;
    height: 100%;
}
.container{
    margin-bottom: 150px;
}
h5{
	color: #30B12B !important;
	font-weight: 700 !important;
}

@media (max-width: 992px){
	.row{
		display: contents !important;
	}
}