form {
    width: 350px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #FFFFFF;
}

.form-control {
    margin-bottom: 15px;
}

label {
    font-size: 13px;
    vertical-align: middle;
    margin-bottom: 6px !important;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

.btn {
    text-align: center;
    background-color: #0A9D4C;
    color: #FFFFFF;
    margin-left: 100px;
    transition: 0.5s;
}

.btn:hover {
    border: #0A9D4C 1px solid;
    background-color: #FFFFFF;
    color: #0A9D4C;
}

.alert {
    font-size: 14px;
}

