.navbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}
.nav-link {
    font-size: 25px;
    margin: 0px;
}

@media (min-width: 990px) {
    .nav-link {
        margin: 0 30px;
    }
    #registrasi {
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #30B12B;
        transition: 0.2s;
        border: #FFFFFF 2px solid;
    }

    #registrasi:hover {
        background-color: #11ac3c;
        color: #FFFFFF;
        border: #FFFFFF 2px solid;
    }
}
