.container-fluid{
    width: auto;
    height: auto;
    padding: 40px;
    border-radius: 25px;
}

.container{
    width: auto;
    height: auto;
    padding: 10px;
}

.carousel-item .img-fluid {
    height: 480px;
}

.card{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text{
    color: black;
}

.modal-content p{
    color: black;
}


