.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #0A9D4C, #11ac3c);
    text-align: center;
}

p {
    margin-bottom: -1px;
    padding: 20px 0;
    color: #FFFFFF;
}