{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
    Daftar Donasi
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/daftardonasi.css' %}">
{% endblock css %}
{% block js %}
    <script src="{% static 'javascript/daftardonasi.js' %}"></script>
    <script>
        // urldaftardonasi = "{% url 'daftardonasi:ListDonasi' %}";
    </script>
{% endblock js %}

{% block content %}
<div class="p-4">
    <div class="card">
        <div class="card-header">
            Terimakasih kami ucapkan atas donasi yang telah anda berikan!
        </div>
        <div class="card-body">
            <ul class="list-group" id="ListDonasi">
            </ul>
        </div>
    </div>
</div>

{% endblock content %}