{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock title %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock css%}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% for i in HighlightDisaster %}
            {% if i == FirstHighlight %}
            <div class="carousel-item active">
                <img class="img-fluid d-block w-100" src= "{{ i.DisasterImage }}" alt="First slide">
                <div class="carousel-caption">
                    <h5>{{ i.DisasterName }}</h5>
                    <p>{{ i.DisasterDesc }}. Donasi terkumpul : Rp{{ i.SumOfDonation }}</p>
                    
                    <a href="{% if user.is_authenticated %} {% url 'Donate:donasi' %} {% else %} {% url 'Register:register' %} {% endif %}">
                        <button type="button" class="btn btn-success">Donasi!</button>
                    </a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".{{ i.HighlightOrCard}}-{{ i.id }}">Donatur</button>
                </div>
            </div>
            <div class="modal fade {{ i.HighlightOrCard }}-{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        {% for i in i.donaturs.all %}
                            <p>{{ i }} - Rp{{ i.jumlah }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="{{ i.DisasterImage }}" alt="Second slide">
                <div class="carousel-caption">
                    <h5>{{ i.DisasterName }}</h5>
                    <p>{{ i.DisasterDesc }}. Donasi terkumpul : Rp{{ i.SumOfDonation }}</p>
                    <a href="{% if user.is_authenticated %} {% url 'Donate:donasi' %} {% else %} {% url 'Register:register' %} {% endif %}">
                        <button type="button" class="btn btn-success">Donasi!</button>
                    </a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".{{ i.HighlightOrCard}}-{{ i.id }}">Donatur</button>
                </div>
            </div>
            <div class="modal fade {{ i.HighlightOrCard }}-{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        {% for i in i.donaturs.all %}
                            <p>{{ i }} - Rp{{ i.jumlah }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="card-deck">
    {% for p in CardDisaster %}
        <div class="col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch p-3" >
            <div class="card">
                <img class="card-img-top" src="{{ p.DisasterImage }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ p.DisasterName }} </h5>
                    <p class="card-text">{{ p.DisasterDesc }}</p>
                    <div class="container d-block  mt-auto">
                        <p class="card-text"> Donasi terkumpul : Rp{{ p.SumOfDonation }}</p>
                        <div class="container d-flex justify-content-center mt-auto">
                            <a href="{% if user.is_authenticated %} {% url 'Donate:donasi' %} {% else %} {% url 'Register:register' %} {% endif %}">
                                <button type="button" class="btn btn-success">Donasi!</button>
                            </a>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".{{ p.HighlightOrCard}}-{{ p.id }}">Donatur</button>
                            <div class="modal fade {{ p.HighlightOrCard }}-{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        {% for q in p.donaturs.all %}
                                            <p>{{ q }} - Rp{{ q.jumlah }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
