{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'news.css' %}">
{% endblock css %}
    
{% block content %}
<div class="container">
    {% for news_item in news %}
    <div class="card" style="width: 100%">
      <div class="card-body">
        <div class="row">
        <div class="col">
            <img class="pict" src="{{news_item.image}}">
        </div>
            <div class="col-8">
            <h5 class="card-title">{{news_item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{news_item.date}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{news_item.author}} - {{news_item.source}}</h6>
            <p class="text-muted">{{news_item.description}}</p>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}